@model IEnumerable<JobHunterApp.Models.Listing>

@{
    ViewBag.Title = "Job Listings";
}

<h2>Job Listings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<body style='background: #00ff21'>
    

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationID)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobType.TypeName)
            </th>
            <th>
                GoogleMap
                <!---Html.DisplayNameFor(model => model.JobType.TypeID)-->
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobType.TypeName)
                </td>
                <td>
                    <button onclick="myFunction()">Find It!</button>

                    <script>
                        function myFunction() {
                            window.open("/GoogleMapTest.aspx");
                        }
                    </script>
                    <!----Html.ActionLink("Find It!", "Index", "GoogleMaps")-->
                    <!--window.open("http://localhost:63661/GoogleMapTest.aspx")-->
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ListingID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ListingID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ListingID })
                </td>
            </tr>

        }
    </table>
</body>
<!--Deletion territory start-->

<!--Deletion territory end-->




