@model JobHunterApp.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Account Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType.AccType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountType.AccType)
        </dd>
        @*<% if(model.AccountType.AccType == "Business"){
        @Html.ActionLink("Edit Account info", "Edit", new { id = Model.UserID })
        @Html.ActionLink("Messages", "Index", new { id = Model.UserID });
        @Html.ActionLink("Post a Job listing", "Create", new { id = Model.UserID })
        } %>
        <% if(model.AccountType.AccType == "Job-Hunter"){
        @Html.ActionLink("Edit Account info", "Edit", new { id = Model.UserID })
        @Html.ActionLink("Messages", "Index", new { id = Model.UserID });
        } %>
        <% if(model.AccountType.AccType == "Admin"){
        @Html.ActionLink("Edit Account info", "Edit", new { id = Model.UserID })
        @Html.ActionLink("Messages", "Index", new { id = Model.UserID });
        @Html.ActionLink("Businesses", "Index", new { AccType = "Business" });
        @Html.ActionLink("Job-Hunters", "Index", new { AccType = "Job-Hunters" }));
        @Html.ActionLink("Listings", "Index");
        } %>*@
    </dl>
</div>

